<div class="w-100 " style="background-color: #e2e3e5">
  <h3> 
    <!-- Chhattisgarh Medical Services Corporation Ltd. -->

  </h3>
</div>
 
<div class="container-fluid">
  
<mat-tab-group (selectedTabChange)="selectedTabValue($event)">
  <mat-tab label="CGMSC Stocks Drugs">
    <ng-template matTabContent>
      <app-cgmscstock-details-drugs *ngIf="selectedTabIndex === 0"></app-cgmscstock-details-drugs>
    </ng-template>
  </mat-tab>
  <mat-tab label="CGMSC Stocks Consumables">
    <ng-template matTabContent>
      <app-cgmscstock-details-consumables *ngIf="selectedTabIndex === 1"></app-cgmscstock-details-consumables>
    </ng-template>
  </mat-tab>
  <mat-tab label="CGMSC Stocks Reagent">
    <ng-template matTabContent>
      <app-cgmscstock-details-reagent *ngIf="selectedTabIndex === 2"></app-cgmscstock-details-reagent>
    </ng-template>
  </mat-tab>
  <mat-tab label="Ayush">
    <ng-template matTabContent>
      <app-cgmscstock-details-ayush *ngIf="selectedTabIndex === 3"></app-cgmscstock-details-ayush>
    </ng-template>
  </mat-tab>
  <!-- <mat-tab label="Tender Wise">
    <ng-template matTabContent>
      <app-emd-pending-tenderwise *ngIf="selectedTabIndex === 2"></app-emd-pending-tenderwise>
    </ng-template>
  </mat-tab>

  <mat-tab label="Details">
    <ng-template matTabContent>
      <app-emd-pending *ngIf="selectedTabIndex === 3"></app-emd-pending>
    </ng-template>
  </mat-tab>
   -->
  <!-- <mat-tab label="EMD Released">
    <ng-template matTabContent>
      <app-emd-released *ngIf="selectedTabIndex === 2"></app-emd-released>
    </ng-template>
  </mat-tab> -->
  
</mat-tab-group>

</div>
