.mat-toolbar.mat-dark {
    background: #000;
    color: #fff;
}
.mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.toolbar-title {
    flex: 1;
    text-align: left;
    margin-left: 16px; /* Adjust the margin as needed */
}
.example-spacer {
    flex: 1;
}
.logout-button {
    margin-right: 10px; /* Adjust the margin as needed */
}
